 
 :root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; }

ul, ol {
  list-style-type: none; }

.fixed {
  position: fixed; }

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flex-column {
  display: flex;
  flex-direction: column; }

.absolute {
  position: absolute; }

/*-----HEADER-----*/
header {
  background-color: rgba(27, 27, 27, 0.945);
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
  justify-content: space-between;
  align-items: center; }

.active {
  text-decoration: overline; }

.nav-link {
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1.5rem; }

.nav-link:hover {
  color: #70ce70; }

.navbar-brand img {
  transition: all 0.5s; }

.navbar-brand img:hover {
  opacity: 60%; }

.navbar-brand img {
  padding: 1rem;
  height: 12vh;
  width: auto;
  margin-left: 3rem; }

.nav-link {
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1.5rem; }

.nav-link:hover {
  color: #70ce70; }
.nav-icon{
  width: 4rem;
  cursor: pointer;
}
/*-----CARTA-----*/
.menu {
  background-color: whitesmoke;
}
.title-carta{
  background-color: #70ce703a;
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
  color: rgb(82, 82, 82);

}

 .carta .carta__bar {
   background-color: rgba(131, 131, 131, 0.911);
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
   z-index: 2;
   justify-content: center;
   align-items: center; }
 
 .carta .navbar{
   padding-top: 15vh;
 }
 .carta .navbar-brand {
   font-size: 3rem;
   font-weight: 800;
   color: white; }
 
 .carta__bar nav .nav-item {
   color: white;
   font-size: 1.8rem; }
  
 .carta__products {
   padding-top: 30vh; }
  .carta__products li {
     margin-bottom: 3rem; }
  .carta__products li h3 {
    font-weight: 700;
    margin-left: 5rem;
    font-size: 3rem; }
 
 .carta__products-info {
   justify-content: space-evenly;
   align-items: center; }
   .carta__products-info li .carta__products-info-div {
     padding: 3.2rem;
     background-color: #1d1d1d;
     color: white;
     border-radius: 1.6rem; }
     .carta__products-info li .carta__products-info-div h4 {
       font-size: 2rem;
       font-weight: 550; }
     .carta__products-info li .carta__products-info-div span {
       font-size: 1.8rem;
       font-weight: 600; }
     .carta__products-info li .carta__products-info-div p {
       font-size: 1.6rem; }
   .carta__products-info li img {
     width: 100%;
     margin-bottom: 1.6rem; }
 .carta__products-info-div{
   height: 50vh;
   
 }
 .carta__products-info-div:hover {
   box-shadow: 0px 3px 3px 5px #70ce70; }
 
 .products-titles{
  justify-content: space-between;
 }
 .carta__products-info li h4 {
   margin-bottom: 1rem;
   font-size: 2rem;
   font-weight: 500; }
 
 .carta__products-info li P {
   font-size: 1rem; }
  
  .btn-edit{
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 1.4rem;
  }
  .btn_ord{
    right: 25rem;
    
  }
  .btn_ord button{
    font-size: 1.5rem;
    padding: 0.7rem;
    margin-right: 1rem;

  }
  .btn_ord button:hover{
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
  }
  .btn_ord button:current{
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
  }
  .modal-title{
    font-size: 2rem;
  }
  .tit-prods{
    font-size: 1.8rem;
  }
  .precio-prods{
    font-size: 1.5rem;
  }
  .total-prods{
    font-size: 1.5rem;
  }
  .modal-img{
    width: 9rem;
  }
  .cant{
    font-size: 1.5rem;
    text-align: center;
  }
  .cant button{
    margin: 1rem;
    font-size: 1.2rem;
  }
  #total-compra{
    font-size: 2rem;
  }
  .modal-footer{
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .modal-footer p{
    font-size: 2rem;
  }
  .btn-vaciar{
    background-color: rgba(255, 0, 0, 0.733);
    border-color: red;
    color: white;
  }
  .btn-vaciar:hover{
    background-color: rgb(197, 74, 74);
    border-color: rgb(156, 0, 0);
  }
  .btn-vaciar:active{
    background-color: rgb(187, 66, 66);
    border-color: rgb(153, 74, 74);
  }
  .btn-siguiente{
    display: none;
  }
  .modal-footer button{
    font-size: 1.4rem;
  }
  #carrito td{
    width: 25%;
  }
  .modal-header {
    background-color: #70ce7077;
    text-align: center !important;
    font-size: 2rem !important;
  }
  #btn-promos{
    border-radius: 0.5rem;
    background-color: #70ce7077;
    border-color: #498549;
    border-width: 1rem;
  }
  .titulo-usuario{
    font-size: 1.8rem;
    font-weight: 200;
  }
  #compra-fc p{
    font-size: 1.6rem;
  }
  #compra-fc span{
    font-size: 1.6rem;
    font-weight: 600;
  }
  .dropdown-item{
    font-size: 1.4rem;;
  }
  .input-container{
    margin-bottom: 1rem;
  }
  .form-control{
    font-size: 1.4rem;
    width: 60%;
  }
  .input-group-text{
    font-size: 1.4rem;
  }

  .alert{
    background-color: #70ce70d7;
    color: white;
    font-size: 1.5rem;
    border-color: #70ce70;
    width: 100%;
    bottom: 0;
    z-index: 10;
    text-align: center;
    display: none;
  }
  #alert-prod{
    background-color: red;
    border-color: red;

  }

 /*-----FOOTER-----*/
 footer {
   background-color: rgba(27, 27, 27, 0.945);
   justify-content: space-between;
   align-items: center; }
 
 .footer_info {
   color: white;
   font-size: 1.5rem;
   text-align: center;
   font-weight: 400;
   padding: 1rem; }
 
 footer .footer_info a {
   color: white; }
 
 footer .footer_info a:hover {
   text-decoration: none;
   color: #70ce70; }
 
 .footer_info h4 {
   font-size: 1.6rem;
   font-weight: 700;
   margin-bottom: 0.2rem; }
 
 .footer_info p {
   margin: 0;
   font-size: 1.4rem; }
 
 .footer_info-adress {
   font-size: 1.5rem;
   font-weight: 700;
   margin-bottom: 0.8rem; }
 
 .footer_logo {
   text-align: center; }
 
 .footer_logo img {
   width: 70px; }
 
 footer ul {
   justify-content: space-evenly;
   align-items: center; }
 
 .footer__img {
   width: 2.5rem;
   opacity: 80%;
   transition: all 0.3s; }
 
 .footer__img:hover {
   transform: scale(1.3);
   opacity: 100%; }
 
 @media only screen and (max-width: 768px) {
   footer div, ul {
     margin-bottom: 3.2rem; } }
 
@media (max-width: 767.98px) {
    .carta__products-info-div img {
       width: 85%; } }